@model List<ExchangeViewModel.Exchange_Rates>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <h3>TL'nin Döviz Karşılığı</h3>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>Döviz Adı</th>
            <th>Döviz Tutarı</th>
        
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.currency</td>
                <td>@item.exchange_rate_buy</td>
            </tr>
        }

    </table>
</div>