@model List<ApiMovieListViewModel>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container" >
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Film Adı </th>
            <th>Puanı</th>
            <th>Açıklaması</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.rank</th>
                <th>@item.title</th>
                <th>@item.rating</th>
                <th>@item.description</th>
           
            </tr>
            
        }
    </table>
</div>