@model WeatherViewModel.Location
@{
    Layout = null;
}


<h3>Hava Durumu API</h3>
<br />
<table class="table table-hover">
    <tr>
        <th>Şehir Adı</th>
        <th>Enlem</th>
        <th>Boylam</th>
    </tr>
    <tr>
        <th>@Model.city</th>
        <th>@Model.lat</th>
        <th>@Model._long</th>
    </tr>
</table>